.App {
  text-align: center;
  margin-top: 15px;
  max-width: 960px;
  margin: 0 auto;
}
.search-bar {
  text-align: center;
  display: block;
}
.submit-button {
  margin-left: 10px;
}
h1 {
  text-align: center;
}
.logo-app {
  width: 20%;
}
.search-line {
  border-color: rgba(0, 0, 0, 0.747);
}
.synonyms {
  text-align: center;
  display: block;
  list-style-type: none;
}
body {
  background-color: rgb(134, 201, 201);
}
section {
  background-color: rgb(245, 228, 206);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}
